@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', Courier, monospace;
  background-image: url(./assets//background.png);
}

.my-button {
  opacity: 1;
  animation: appear 0.7s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
